{% extends "newsapp/base.html" %}
{% block content %}

<div style="text-align:center;">
  <a href="{% url 'home' %}" class="button">🏠 Back to Today’s News</a>
</div>
<h2>📰 Yesterday’s Editorials</h2>
{% for article in editorials %}
  <div class="article">
    <div class="date-label"> {{ article.created_at|date:"M d, Y" }}</div>
    <div class="title-columns">
      <div class="title-en">{{ article.english_title }}</div>
      <div class="title-ur">{{ article.urdu_title }}</div>
    </div>
    <div class="columns">
      <div class="col english">{{ article.english_content|linebreaks }}</div>
      <div class="col urdu">{{ article.urdu_content|linebreaks }}</div>
    </div>
  </div>
{% empty %}
  <p>No editorials yesterday.</p>
{% endfor %}

<h2>📝 Yesterday’s Opinions</h2>
{% for article in opinions %}
  <div class="article">
    <div class="date-label"> {{ article.created_at|date:"M d, Y" }}</div>
    <div class="title-columns">
      <div class="title-en">{{ article.english_title }}</div>
      <div class="title-ur">{{ article.urdu_title }}</div>
    </div>
    <div class="columns">
      <div class="col english">{{ article.english_content|linebreaks }}</div>
      <div class="col urdu">{{ article.urdu_content|linebreaks }}</div>
    </div>
  </div>
{% empty %}
  <p>No opinions yesterday.</p>
{% endfor %}


{% endblock %}
